{{ define "main" }}
<div class="services-page section">
    <div class="section__intro" style="background-image: url('{{ .Page.Params.image | relURL }}')">
        <h2 class="section__title">{{ .Title }}</h2>
    </div>
    <div class="container">
        <section class="services-block">
            <div class="services-block__wrap">
                {{ range .RegularPages.ByWeight }}
                <div class="services-item">
                    <div class="services-item__img" style="background-image: url('{{ .Page.Params.image | relURL }}')">
                    </div>
                    <footer class="services-item__footer">
                        <h2 class="title">{{ .Title }}</h2>
                        <div class="services-item__text">
                            {{ .Content }}
                        </div>
                    </footer>
                </div>
                {{ end }}
            </div>
        </section>
    </div>
</div>
<div class="container">
    {{ end }}