{{ define "main" }}
    <div class="services-page section">
      <div class="section__intro" style="background-image: url('assets/i/services-page.jpg')">
        <h2 class="section__title">I nostri servizi</h2>
      </div>
      <div class="container">
        <section class="services-block">
          <div class="services-block__wrap">
            <div class="services-block__item" style="background-image: url('assets/i/services-block/1.jpg')">
              <footer class="services-block__footer">
                <h2 class="title">Servizio specializzato</h2>
                <div class="services-block__text">I nostri sommelier sono in grado di suggerirti le migliori birre speciali per la tua attività, valorizzando le tue caratteristiche e peculiarità.</div>
              </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/2.jpg')">
              <footer class="services-block__footer">
                <h2 class="title">Allestimento locali</h2>
                <div class="services-block__text">I nostri sommelier sono in grado di suggerirti le migliori birre speciali per la tua attività, valorizzando le tue caratteristiche e peculiarità.</div>
              </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/3.jpg')">
              <footer class="services-block__footer">
                <h2 class="title">Fiere ed eventi</h2>
                <div class="services-block__text">Forniamo postazioni mobili per manifestazioni, sagre, ed eventi con impianti di spillatura, tavoli, ombrelloni, chioschi ed eventuale rimorchio / truck allestito.</div>
              </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/4.jpg')">
              <footer class="services-block__footer">
                <h2 class="title">E molto altro ancora</h2>
                <div class="services-block__text">
                  <ul class="services-block__list">
                    <li>Altissima qualità</li>
                    <li>Consulenze e supporto</li>
                    <li>Partner selezionati</li>
                    <li>Servizio personalizzato</li>
                    <li>Agenti e sommelier qualificati</li>
                  </ul>
                </div>
              </footer>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="container">
{{ end }}
