{{ define "main" }}
<div class="container">
    <div class="products">
        {{ range .Pages }}
        <div class="product__item">
            <div class="product__img">
                <img src="{{ .Params.image | absURL }}" alt="">
            </div>
            <h3 class="title">{{ .Title }}</h3>
            <a class="link" href="{{ .RelPermalink }}">
                <span> Scopri tutte le birre</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
        </div>
        {{ end }}
    </div>
    {{ end }}
