<footer class="main-footer">
    <div class="main-footer__content">
        <div class="main-footer__info">
            <div class="main-footer__info-wrap">
                <div class="main-footer__info-item">
                    <h3 class="title title--color">Contatti</h3>
                    <div class="main-footer__contacts">
                        <div class="main-footer__contacts__item">{{ .Site.Params.footer.address }}</div>
                        <div class="main-footer__contacts__item">
                            <a target="_blank" href="{{ .Site.Params.facebook | relURL }}">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a target="_blank" href="{{ .Site.Params.instagram | relURL }}">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div class="main-footer__contacts__item"> Email. <a
                                href="{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></div>
                        <div class="main-footer__contacts__item">Tel. <a
                                href="tel:{{ .Site.Params.phone_clear }}">{{ .Site.Params.phone }}</a></div>
                        <div class="main-footer__contacts__item">
                            <span>Orario di apertura dal lunedì al venerdì:</span>
                            <span>{{ .Site.Params.footer.hours }}</span>
                        </div>
                        <div class="main-footer__contacts__item">
                            <span>Sabato:</span>
                            <span>{{ .Site.Params.footer.hours_saturday }}</span>
                        </div>
                    </div>
                </div>
                <div class="main-footer__info-item">
                    <h3 class="title title--color"> Alcune delle nostre birre speciali</h3>
                    <div class="main-footer__partners">
                        <a class="main-footer__partners-item" href="/nostre-birre/">
                            <div class="main-footer__partners-item-front">
                                <img src="{{ .Site.Params.partners.partner_1_img | relURL }}" alt="">
                            </div>
                            <div class="main-footer__partners-item-back">
                                <img src="{{ .Site.Params.partners.partner_1_img | relURL }}" alt="">
                            </div>
                        </a>
                        <a class="main-footer__partners-item" href="/nostre-birre/">
                            <div class="main-footer__partners-item-front">
                                <img src="{{ .Site.Params.partners.partner_2_img | relURL }}" alt="">
                            </div>
                            <div class="main-footer__partners-item-back">
                                <img src="{{ .Site.Params.partners.partner_2_img | relURL }}" alt="">
                            </div>
                        </a>
                        <a class="main-footer__partners-item" href="/nostre-birre/">
                            <div class="main-footer__partners-item-front">
                                <img src="{{ .Site.Params.partners.partner_3_img | relURL }}" alt="">
                            </div>
                            <div class="main-footer__partners-item-back">
                                <img src="{{ .Site.Params.partners.partner_3_img | relURL }}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="{{ .Site.Params.footer.map }}" width="100%" height="350" frameborder="0" style="border:0;"
                    allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="main-footer__form">
            <h2 class="title title--color">Scrivici</h2>
            <div class="form" name="contacts" method="POST" netlify>
                <form>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="oggetto">Oggetto</label>
                        <input type="text" name="oggetto" id="oggetto">
                    </div>
                    <div class="form-group">
                        <label for="messaggio">Messaggio</label>
                        <textarea name="messaggio" id="messaggio"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Invia">
                        <input class="checkbox" type="checkbox" name="check" id="check">
                        <label for="check">Cliccando su invia dichiari di aver preso visione e di accettare la nostra
                            privacy policy</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright__item">
            <p>{{ .Site.Params.footer.privacy | safeHTML }}</p>
        </div>
        <div class="copyright__item">
            <p>Diber Bevandel ha<br> scelto Altuofianco</p><a href="#">
                <img src="/i/footer-logo.svg" alt="">
            </a>
        </div>
    </div>
</footer>
</div>
<!--[if lt IE 9]>
<script src="assets/libs/html5shiv/es5-shim.min.js"></script>
<script src="assets/libs/html5shiv/html5shiv.min.js"></script>
<script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="assets/libs/html5shiv/respond.min.js"></script>
<!--<![endif]-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{{ "<!-- JS Plugins --> " | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ $script := resources.Get "js/main.js" }}

{{ $script = $script | minify }}
<script src="{{ $script.Permalink }}"></script>

<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
</script>
</body>

</html>