{{ define "main" }}

<div class="main-slider">
    <div class="main-slider__item" style="background-image: url('{{ .Params.IntroImg | absURL }}')">
        <div class="main-slider__content-wrap">
            <div class="main-slider__content">
                <h3 class="main-slider__title">{{ .Params.IntroTitle }}</h3>
                <p class="main-slider__text">{{ .Params.IntroText }}</p><a
                    class="link" href="#">
                <span>{{ .Params.IntroBtnText }}</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section class="intro">
        <div class="intro__text" style="background-image: url('{{ .Params.ourBeersSectionImageBg | absURL }}')">
            <h2 class="title">{{ .Params.ourBeersSectionTitle }}</h2>
            <p>{{ .Params.ourBeersSectionText }}</p>
            <a class="link" href="/le-nostre-birre/">
                <span>{{ .Params.ourBeersSectionBtnText }}</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
        </div>
        <div class="intro__img">
            <img src="{{ .Params.ourBeersSectionImage | absURL }}" alt="">
        </div>
    </section>

    <div class="categories-block">
        {{ $drinkscategories := .Site.Taxonomies.drinkscategories }}
        {{ range $drinkscategories }}
        <div class="categories-block__item" style="background-image: url('{{ .Page.Params.imageForBlocks | absURL }}')">
            <div class="categories-block__footer">
                <h4 class="title">{{ .Page.Title }}</h4>
                <a class="link" href="/alte-bevande/">
                    <span> Vai al catalogo</span>
                    <i class="fas fa-chevron-circle-right"></i>
                </a>
            </div>
        </div>
        {{ end }}

    </div>

    <h3 class="title title--color services-block__title">I nostri servizi</h3>
    <section class="services-block">
        <div class="services-block__wrap">
            <div class="services-block__item" style="background-image: url('assets/i/services-block/1.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">Servizio specializzato</h2>
                    <div class="services-block__text">I nostri sommelier sono in grado di suggerirti le migliori birre speciali per la tua attività, valorizzando le tue caratteristiche e peculiarità.</div>
                </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/2.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">Allestimento locali</h2>
                    <div class="services-block__text">I nostri sommelier sono in grado di suggerirti le migliori birre speciali per la tua attività, valorizzando le tue caratteristiche e peculiarità.</div>
                </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/3.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">Fiere ed eventi</h2>
                    <div class="services-block__text">Forniamo postazioni mobili per manifestazioni, sagre, ed eventi con impianti di spillatura, tavoli, ombrelloni, chioschi ed eventuale rimorchio / truck allestito.</div>
                </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/4.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">E molto altro ancora</h2>
                    <div class="services-block__text">
                        <ul class="services-block__list">
                            <li>Altissima qualità</li>
                            <li>Consulenze e supporto</li>
                            <li>Partner selezionati</li>
                            <li>Servizio personalizzato</li>
                            <li>Agenti e sommelier qualificati</li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </section>

    {{ end }}
