{{ define "main" }}

<div class="main-slider">
    <div class="main-slider__item" style="background-image: url('{{ .Params.IntroImg | relURL }}')">
        <div class="main-slider__content-wrap">
            <div class="main-slider__content">
                <h3 class="main-slider__title">{{ .Params.IntroTitle }}</h3>
                <p class="main-slider__text">{{ .Params.IntroText }}</p><a
                    class="link" href="#">
                <span>{{ .Params.IntroBtnText }}</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <section class="intro">
        <div class="intro__text" style="background-image: url('{{ .Params.ourBeersSectionImageBg | relURL }}')">
            <h2 class="title">{{ .Params.ourBeersSectionTitle }}</h2>
            <p>{{ .Params.ourBeersSectionText }}</p>
            <a class="link" href="/le-nostre-birre/">
                <span>{{ .Params.ourBeersSectionBtnText }}</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
        </div>

        <div class="intro__img">
            <img src="{{ .Params.ourBeersSectionImage | relURL }}" alt="">
        </div>
    </section>

    <div class="categories-block">
        {{ $drinkscategories := .Site.Taxonomies.drinkscategories }}
        {{ range $drinkscategories }}
        <div class="categories-block__item" style="background-image: url('{{ .Page.Params.imageForBlocks }}')">
            <div class="categories-block__footer">
                <h4 class="title">{{ .Page.Title }}</h4>
                <a class="link" href="/alte-bevande/">
                    <span> Vai al catalogo</span>
                    <i class="fas fa-chevron-circle-right"></i>
                </a>
            </div>
        </div>
        {{ end }}

    </div>

    <h3 class="title title--color services-block__title">I nostri servizi</h3>
    <section class="services-block">
        <div class="services-block__wrap">
            {{ range where .Site.RegularPages.ByWeight "Section" "servizi" }}
                <div class="services-block__item" style="background-image: url('{{ .Page.Params.image | relURL }}')">
                    <a href="/servizi/">
                        <footer class="services-block__footer">
                            <h2 class="title">{{ .Title }}</h2>
                            <div class="services-block__text">
                                {{ .Page.Params.shorttext | safeHTML}}
                            </div>
                        </footer>
                    </a>
                </div>
            {{end}}
        </div>
    </section>

    {{ end }}
