{{ define "main" }}
<div class="container">
    <div class="alte-bevande" id="js-alte-bevande">
        <ul class="alte-bevande__list" id="js-alte-bevande__list">
            <li data-filter=".bibite">
                <div class="alte-bevande__img" style="background-image: url('assets/i/categories/bibite.jpg')"></div>
                <h3 class="title">Bibite</h3>
            </li>
            <li data-filter=".acque">
                <div class="alte-bevande__img" style="background-image: url('assets/i/categories/acque.jpg')"></div>
                <h3 class="title">Acque</h3>
            </li>
            <li data-filter=".vini">
                <div class="alte-bevande__img" style="background-image: url('assets/i/categories/vini.jpg')"></div>
                <h3 class="title">Vini</h3>
            </li>
            <li data-filter=".grappe">
                <div class="alte-bevande__img" style="background-image: url('assets/i/categories/grappe.jpg')"></div>
                <h3 class="title">Grappe, distillati e liquori</h3>
            </li>
        </ul>
        <div class="alte-bevande__content">
            {{ range .Pages }}
            <div class="alte-bevande__item mix bibite acque">
                <div class="alte-bevande__img">
                    <img src="{{ .Params.image | absURL }}" alt="">
                </div>
                <h3 class="title">{{ .Title }}
                    <a target="_blank" class="link" href="{{ .Params.linksToSite | absURL }}">
                        <span> Visita il sito</span>
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </h3>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
