{{ define "main" }}
<div class="container">
    <div class="alte-bevande" id="js-alte-bevande">
        <ul class="alte-bevande__list" id="js-alte-bevande__list">
            {{ range .Site.Taxonomies.drinkscategories }}
            <li data-filter=".{{ .Page.Params.slug }}">
                <div class="alte-bevande__img" style="background-image: url('{{ .Page.Params.imageForFilter | relURL }}')"></div>
                <h3 class="title">{{ .Page.Title }}</h3>
            </li>
            {{ end }}
        </ul>
        <div class="alte-bevande__content">

            {{ range .Pages }}
            {{ range .Params.drinkscategories }}
            <div class="alte-bevande__item mix {{ . }}">
                {{ end }}
                <div class="alte-bevande__img">
                    <img src="{{ .Params.image | relURL }}" alt="">
                </div>
                <h3 class="title">{{ .Title }}
                    <a target="_blank" class="link" href="{{ .Params.linksToSite | relURL }}">
                        <span> Visita il sito</span>
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </h3>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
